@tailwind base;
@tailwind components;
@tailwind utilities;


/* focus */
.input-error {
  border: 1px solid red;
}

.error-message {
  color: red;
  margin: 2px;
}

.red {
  color: red;
}

/* Ensure high specificity */
input-focus-red {
  color: red !important;
  box-shadow: 0 0 0 1px red !important;
}

/* //grid */
.line-cont {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 50px;
  /* padding-left: 65px;
  padding-right: 65px;
  padding-top: 40px; */
  padding: 30px;

  justify-content: center;
}

.card-top {
  padding: 20px 0;
  /* Optional: Add padding around the container */
}

.item {
  flex: 1;
  /* Each item takes equal width */
  display: flex;
  /* Ensure content inside each item aligns vertically */
  flex-direction: column;
  /* Align content vertically */
  text-align: center;
  /* Center text */
}

.item a {
  display: flex;
  /* Ensure link takes full height */
  flex-direction: column;
  /* Align content vertically */
  text-align: center;
  /* Center text */
  text-decoration: none;
  /* Remove default link underline */
}

.item a h6 {
  margin-top: 10px;
  /* Optional: Add spacing between image and text */
}

.item-image {
  width: 100%;
  /* Full width */
  height: 200px;
  /* Set height to 200px */
  object-fit: cover;
  /* Ensure images maintain aspect ratio */
  border-radius: 8px;
  /* Optional: Add rounded corners */
}

/* cart */
.CartBtn {
  width: 110px;
  height: 38px;
  border-radius: 12px;
  margin-right: 200px;
  border: none;
  background-color: rgb(255, 208, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 0.5s;
  overflow: hidden;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103);
  position: relative;
}

.IconContainer {
  position: absolute;
  left: -50px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 2;
  transition-duration: 0.5s;
}

.icon {
  border-radius: 1px;
}

.text {
  height: 100%;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(17, 17, 17);
  z-index: 1;
  transition-duration: 0.5s;
  font-size: 14px;
  font-weight: 600;
}

.CartBtn:hover .IconContainer {
  transform: translateX(50px);
  border-radius: 40px;
  transition-duration: 0.5s;
}

.CartBtn:hover .text {
  transform: translate(10px, 0px);
  transition-duration: 0.5s;
}

.CartBtn:active {
  transform: scale(0.95);
  transition-duration: 0.5s;
}

/* piles */
.pills-base-pillsDesktopContainer {
  flex-wrap: wrap;
}

.pills-base-pillsContainer {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 16px;
}

.pills-base-pill {
  cursor: pointer;
  border-radius: 40px;
  margin: 0 8px 12px 0;
  white-space: nowrap;
}

.pills-base-activePill {
  border: 1px solid #ff3f6c;
  color: #ff3f6c;
}

.pills-base-textStyle {
  padding: 8px 16px;
}

.pills-base-pill {
  cursor: pointer;
  border-radius: 40px;
  margin: 0 8px 12px 0;
  white-space: nowrap;
}

.pills-base-normalPill {
  border: 1px solid #d4d5d9;
  color: #282c3f;
}

.cartFiller-base-cartFillerHeading {
  font-size: 16px;
  font-weight: 700;
  color: #282c3f;
  padding: 10px 0;
  border-top: 1px solid #7e818c;
}

.main-pill {
  padding-left: 40px;
}

/* admin */
/* Main  */
.main-container {
  grid-area: main;
  overflow-y: auto;
  padding: 20px 20px;
  color: rgba(255, 255, 255, 0.95);
  width: 70%;
  margin: 0px auto;
}

.main-title {
  display: flex;
  justify-content: space-between;
}

.main-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin: 15px 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 8px 15px;
  border-radius: 5px;
  height: 130px;
}

.card:first-child {
  background-color: #2962ff;
}

.card:nth-child(2) {
  background-color: #ff6d00;
}

.card:nth-child(3) {
  background-color: #2e7d32;
}

.card:nth-child(4) {
  background-color: #d50000;
}

.card-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-inner>.card_icon {
  font-size: 25px;
}

.image-test {
  background-image: url('../public/main.jpg');
  background-size: cover;
  background-position: contain;
  padding: 18px;
  /* z-index: 1; */
}

.image-sigin {
  background-image: url('../public/main.jpg');
  background-size: cover;
  background-position: contain;
  padding-bottom: 90px;
}

.progress {
  margin: 0 auto;
}
